<mat-toolbar style="background-color: white;
margin-left:  -35px;
width: 1315px;border-bottom-style:solid;border-bottom-color:#E0E0E0;border-bottom-width:2px;position: sticky;
margin-top: 1px;">
<nav>
  <a  routerLink="/information" style="  margin-left: -171px;"class="ab"  routerLinkActive="list-item-active">
    <mat-icon style="vertical-align: -4px;" >search</mat-icon>ACCOUNT</a>
  <a  routerLink="/security" style="margin-left: 46px;" class="ab">
    <mat-icon style="vertical-align: -4px;">lock</mat-icon>SECURITY</a>
  <a routerLink="/service" style="margin-left: 46px;" class="ab">
    <mat-icon style="vertical-align: -4px;">info</mat-icon>INFO</a>
  <a href="#billing" style="margin-left: 46px;" class="ab">
    <mat-icon style="vertical-align: -4px;">bookmark</mat-icon>BILLING</a>
  <a href="#notifications" style="margin-left: 46px;" class="ab">
    <mat-icon style="vertical-align: -4px;">notification_important</mat-icon>NOTIFICATIONS</a>
  
</nav >
</mat-toolbar>
<router-outlet></router-outlet>
